body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: rgb(232, 236, 238);
}
.appbar{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgb(9, 100, 236);
    margin: 0;
    justify-content: space-between;
    align-items: center;
}
.appbar > p{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    text-align: end;
}
.appbar #btn-logout{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    height: 40%;
    padding: 0.3rem 0.75rem;
    margin-right: 1rem;
}
.appbar #btn-logout:hover{
    background-color: rgba(206, 221, 243, 0.671);
}
.appbar #btn-logout a{
    text-decoration: none;
    color: rgb(9, 100, 236);
    font-size: 0.7rem;
    font-weight: 600;
    font-family: sans-serif;
}

.container-chat{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.list-user{
    padding: 1rem 10px;
    width: 10%;
}

.list-user > p{
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: rgb(9, 100, 236);
}

.separator-chat{
    display: flex;
    background-color: rgb(9, 100, 236);
    width: 2px;
    height: 100vh;
}

.list-messages{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 90vh;
    justify-content: space-between;
}

.messages{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-no-message{
    text-align: center;
}

.messages .layout-message{
    background-color: lightblue;
    padding: 5px 10px;
    margin: 10px 20px;
    border-radius: 10px;
}
.messages .layout-message #user{
    color: rgb(9, 100, 236);
    font-size: 1rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.messages .layout-message #message{
    background-color: white;
    width: 95%;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
}

.container-btn-input-message{
    display: flex;
    position: fixed;
    width: 90%;
    bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10px;

}

.container-btn-input-message input{
    resize: none;
    width: 90%;
    height: 35px;
    max-height: 50px;
    border-radius: 10px;
    border-color: rgb(9, 100, 236);
    padding: 2px 10px;
    background: white;
    font-size: 0.75rem;
    font-weight: 600;
    font-family: sans-serif;

}

.container-btn-input-message button{
    background-color: rgb(9, 100, 236);
    height: 90%;
    width: 8%;
    border-radius: 10px;
    color: white;
    font-size: 1em;
    font-weight: 500;
    font-family: sans-serif;
    margin: 10px;
    border-color: rgb(9, 100, 236);
}
