{% extends 'layout.html'%}
{% block title %} Home page{% endblock %}
{% block head %}
  <script src="{{url_for('static', filename='js/client.js')}}" type="module"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
  <p id="text-username">{{user.username}}</p>
  <ul id="messages"></ul>
  <form id="form" action="#">
    <input id="input" autocomplete="off" /><button class="button-send">Send</button>
  </form>
  <template class="container-message">
    <li>
      <p id="username"></p>
      <p id="message"></p>
    </li>
  </template>
{% endblock %}