{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css')}}">
{% endblock %}

{% block body %}
<form method="POST" action="{{ url_for('login')}}">
    <p>Se connecter</p>
    {% if error %}
        <p class="text-error-credential">{{error}}</p>
    {% endif %}
    <div class="container-input-form">
        <input type="text" name="username" id="username" placeholder="Votre username">
        <label for="username">Username</label>
    </div>
    <div class="container-input-form">
        <input type="password" name="password" id="password" placeholder="Mot de passe">
        <label for="password">Mot de passe</label>
    </div>
    <button>Se connecter</button>
</form>
<p>
    Vous n'avez pas de compte?
    <a href="{{ url_for('signup') }}">Créer un compte</a>
</p>

{% endblock %}